/* ---------- Color Module Styles ----------- */
@import url(bootstrap.min.css);


body {
  color: var(--light);
  background: var(--primary);
}

.navbar-brand{
  color: var(--light);
}
.navbar-brand:hover{
  color: var(--light);
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: var(--primary);
}
.breadcrumb{
  background-color: var(--info);
}
.breadcrumb .breadcrumb-item a{
  color: var(--dark);
}
.tabs ul.primary li a.is-active {
  background-color: var(--primary);
}

.tabs ul.primary li.is-active a {
  background-color: var(--primary);
  border-bottom-color: #fff;
}

#navbar-top {
  background-color: var(--secondary);
}

#navbar-main {
  background-color: var(--secondary);
}

a,
.link {
  color: var(--link);
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: var(--link-hover);
}
.nav-item .dropdown-item a.active {
  color: var(--light);
}
.nav-link {
  color: rgb(252, 237, 237);
}
.nav-link:hover,
.nav-link:focus {
  color: rgb(231, 231, 231);
}
a:active,
.link:active {
  color: #23aeff;
}

.page-item.active .page-link {
  background-color: var(--link);
  border-color: var(--link);
}

.page-link,
.page-link:hover {
  color: var(--link);
}

.sidebar .block {
  background-color: var(--primary);
  border-color: var(--primary);
}
.btn-primary {
  background-color: var(--info);
  border-color: var(--info);
  color: var(--dark);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--info);
  border-color: var(--info);
  color: var(--dark);
}

.site-footer {
  background: var(--secondary);
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: var(--light);
}

.views-row h2 a{
  color: var(--info);
}

.node__meta{
  color: var(--light);
}
.form-search{
  background-color: var(--primary);
  border: 0;
  color: var(--light);
}
.form-search:focus{
  background-color: var(--primary);
  color: var(--light);
}
.views-row{
  background: var(--secondary);
}

.row{
  margin: 1rem 0 0 0;
}
.pagination .page-item .page-link{
  background-color: var(--secondary);
  border: 0;
}
.button{
  color: var(--light);
  background: var(--info);
}
.button:hover{
  border: 0;
  background: var(--info);
  color: var(--light);
}
/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
  float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}