/*Layout*/
.view-content.row{
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem 1.5rem;
}
.view-content.row > .views-row{
    display: grid;
    gap: 0;
    grid-column: span 1;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-row: span 7;

    min-height: 100%;
    padding: 1rem 1rem 0 1rem;
    margin: 1rem 0 1rem 0;
    border-radius: .5rem;
    border: 0;
    box-shadow: var(--dark) .1rem .1rem .5rem;
}
@media (width >= 992px){
    .view-content.row{
        grid-template-columns: repeat(2, 1fr);
    }
}
.field--name-field-tags, .inline__links .links {
    display: grid;
}
.field--type-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inline__links .links {
    gap: 1rem 0;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin-bottom: 1rem;
}

/*Image styling*/

.field--type-image a img{
    object-fit: cover;
    max-height: 10rem;
    aspect-ratio: 16 / 9;
}

/*Removing values*/

.field--type-image a .image-style-thumbnail{
    display: none;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.show #block-dark-main-menu .nav .nav-item .nav-link, 
.collapsing #block-dark-main-menu .nav .nav-item .nav-link{
    display: none;
}
.navbar-brand img{
    display: none !important;
}

/*Spaceing*/

.inline__links .links span{
    margin-left: auto;
}
.node__meta{
    margin-bottom: .5rem;
}

.field--type-entity-reference{
    margin-top: auto;
}

.search-block-form{
    margin-left: auto;
    gap: .5rem;
}
#navbar-main .navbar-toggler{
    padding: 0;
}

.inline__links .links span{
    margin: 0;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
}


/* Animations */

.button-nav .line{
    transition: 
    transform 300ms ease-in 300ms,
    rotate 300ms ease-in,
    opacity 0ms 300ms;
    transform-origin: center;
    background-color: var(--light);
}
.button-nav[aria-expanded="true"] .line{
    transition: 
    transform 300ms ease-in,
    rotate 300ms ease-in 300ms,
    opacity 0ms 300ms;

}
.button-nav[aria-expanded="true"] .top{
    transform: translateY(25px);
    rotate: 45deg;
}
.button-nav[aria-expanded="true"] .bottom{
    transform: translateY(-35px);
    rotate: -45deg;
}
.button-nav[aria-expanded="true"] .middle{
    opacity: 0;
}
